<app-product-list
  title="Separate skills"
  subtitle="Learn popular technologies to expand your stack and make your CV more appealing"
  [products]="products.byGroup['skill']"
></app-product-list>

<app-product-list
  title="Intencive courses"
  subtitle="Express programs for those who want to quickly learn a new profession"
  [products]="products.byGroup['intensive']"
></app-product-list>

<app-product-list
  title="Free courses"
  subtitle="Necessary skills and projects to put in your portfolio"
  [products]="products.byGroup['course']"
></app-product-list>